body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial;
  text-align: center;
  overflow: hidden;
}

canvas { display: block; margin: auto; background: #111; }

button {
  padding: 15px 40px;
  font-size: 20px;
  cursor: pointer;
}

.hidden { display: none; }
